@import '../../style/variables';

.card__home-cont{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 80vh;
}
.card__home{
   background-color: rgba(255, 208, 0, 0.90);

   display: flex;
   flex-direction: column;
   justify-content: center;

   width: 60%;
   margin: 0 auto;

   padding: 100px;
   border-radius: 25px;
   h2{
      font-size: 2.5rem;
      margin: 50px 0;
   }
}